.zabo-ads-banner {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  position: relative;
  border: 1px solid;
}

.zabo-ads-banner__title {
  width: 100%;
  overflow: hidden;
  margin: 0 15px;
}

.zabo-ads-banner__title--inner {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}