.zabo-ads-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  position: relative;
  border: 1px solid;
}

.zabo-ads-banner__title {
  margin: 0 10px;
}

.zabo-ads-banner__logo {
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}